body{
    
    margin: 0px;
}
body{
    padding-left: 20px;
}
.list p{
border-radius: 20px;
border: 2px solid lightblue;
padding: 20px; 
width: 500px;
color: black;
text-decoration: none;
    
}
.list p:hover{
    background-color: lightblue;
}

#greeting {
    padding-top: 15px;
    padding-left: 10px;
}
a {
    color: white;
    text-decoration: none;
}
.list p{
    border-radius: 20px;
    border: 2px solid lightblue;
    padding: 20px; 
    width: 500px;
    
    
}
.list p:hover{
    background-color: lightblue;
    
}
h1{
    margin-bottom: 35px;
      padding-left: 20px;
}

.list{
        padding-left: 20px;
}

#weight, #muscle, #money, #eco, #healthy {
    display: none;
}
