a {
        color: white;
    }
    #navbar {
        display: table;
        width: 100%;
        background: grey;
        margin-top: 20px;
        margin-bottom: 10%;
    }
    #navbar ul {
        display: table-row;
        height: 40px;
        position: relative;
    }
    #navbar li {
        display: table-cell;
        text-align: center;
        vertical-align: center;
        position: relative;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 4px;
    }
    #logo {
        border-radius: 50%;
        background-color: black;
        height: 80px;
        width: 80px;
        position: absolute;
        left: 50%;
        margin: -20px 0 0 -45px;
        padding: 0;
    }
body{
    padding-left: 20px;
}
.list p{
border-radius: 20px;
border: 2px solid lightblue;
padding: 20px; 
width: 500px;
}
.list p:hover{
    background-color: lightblue;
}
