#navbar {
    display: table;
    width: 70%;
    margin-top: 0px;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-bottom: 0px;
    background-color: white;
}   
#navbar ul {
    display: table-row;
    position: relative; 
}
#navbar li {
    display: table-cell;
    border: 0.5px solid #DCDCDC;
    border-collapse: collapse;
    
    
}
.navitext {
    color:#484747;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    font-family:  sans-serif;
   
    
}

.home:hover{
    background-color: #59C657;
    transition: all ease-in-out 200ms;
}
.profile:hover{
    background-color: #59C657;
    transition: all ease-in-out 200ms;
}
.search:hover{
    background-color: #59C657;
    transition: all ease-in-out 200ms;
}
.guide:hover{
    background-color: #59C657;
    transition: all ease-in-out 200ms;
}

.line{
    position: absolute;
    border: 0.5px solid #DCDCDC;
    margin-top: 0px;
    height: 51px;
    width: 100%;
    z-index:-1;
    background-color: white;
   
}
.title{
    text-align: center;
    height: 100px;
    
}
#navbar div{
    text-align: center;
    height: 51px;
    margin: 0px;
    line-height: 51px;
}
